body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.layout-wrap {
  display: flex;
  height: 100vh;
  overflow: hidden;

  > .play-ground {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Vertical scroll enabled */
    overflow-x: hidden; /* FIX: Hide horizontal scroll caused by grid margins */
    display: flex;
    flex-direction: column;
  }
}

div.p-inline-message.hide {
  display: none;
}
