.metrics-page {
  // Metric Type Badges
  .metric-type-badge {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;

    &.type-click {
      background-color: var(--blue-100);
      color: var(--blue-700);
    }

    &.type-custom {
      background-color: var(--purple-100);
      color: var(--purple-700);
    }
  }
}
